container {

}

calculator {
    display: flex;
    flex-wrap: wrap;
    background: green;
    color: white;

}

button {

}

button2 {

}

button2:hover{
    color: black;
}

result {
  flex-grow: 3;
}
