calculator {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 100px;
    height: 100px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-collapse: collapse;

}

button light{
    color: black;

}

button2:hover{
      color: black;
}

result {
      flex-grow: 3;
      color: green;
}
